Q1). Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

Examples
filter_list([1, 2, &quot;a&quot;, &quot;b&quot;]) ➞ [1, 2]
filter_list([1, &quot;a&quot;, &quot;b&quot;, 0, 15]) ➞ [1, 0, 15]
filter_list([1, 2, &quot;aasf&quot;, &quot;1&quot;, &quot;123&quot;, 123]) ➞ [1, 2, 123]

In [6]:
# Eg 1
l = [1, 2, 'a', 'b']

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 2]

In [7]:
# Eg 2


l = [1, 'a', 'b', 0 , 15]

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 0, 15]

In [8]:
# Eg 3
l = [1, 2, 'aasf', '1', '123', 123]

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 2, 123]

Q2). The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

Examples
reverse(&quot;Hello World&quot;) ➞ &quot;DLROw OLLEh&quot;
reverse(&quot;ReVeRsE&quot;) ➞ &quot;eSrEvEr&quot;
reverse(&quot;Radar&quot;) ➞ &quot;RADAr&quot;

In [9]:
#Eg 1
string = 'Hello World'
print(string[::-1])

dlroW olleH

In [15]:
# Eg 2

string = 'ReVeRsE'
print(string[::-1])

EsReVeR

In [16]:
# Eg 3
string = 'Radar'
print(string[::-1])

radaR

Q4)Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

In [18]:
# Factorial of 5 -> 120

a = 5

factorial = 1

if a < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif a == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,a + 1):
       factorial = factorial*i
   print("The factorial of",a,"is",factorial)

The factorial of 5 is 120

In [21]:
# Factorial of 3 -> 6

a = 3

factorial = 1

if a < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif a == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,a + 1):
       factorial = factorial*i
   print("The factorial of",a,"is",factorial)

The factorial of 3 is 6

In [22]:
# Factorial of 1 -> 1

a = 1

factorial = 1

if a < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif a == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,a + 1):
       factorial = factorial*i
   print("The factorial of",a,"is",factorial)

The factorial of 1 is 1

In [23]:
# Factorial of 0 -> 1

a = 0

factorial = 1

if a < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif a == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,a + 1):
       factorial = factorial*i
   print("The factorial of",a,"is",factorial)

The factorial of 0 is 1

Q5) Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, &quot;a&quot;, &quot;a&quot;]

In [26]:
lst = [7, 8, 9, 1, 2, 3, 4]
lst.append(lst.pop(lst.index(9)))
lst

[7, 8, 1, 2, 3, 4, 9]

In [28]:
lst = ["a", "a", "a", "b"]
lst.reverse()
lst

['b', 'a', 'a', 'a']